@import "./variables.less";

@navHeight: 30px;
@headerHeight: 100px;
@detailsHeight: 40px;

/* ----------------------------------------- */
/*  All SWD6 Apps                           */
/* ----------------------------------------- */

.swd6 {

  .window-content {
    font-size: 13px;
    color: @colorDark;
    background: @colorLight;
}

a{
    &:hover{
        text-shadow: 0 0 8px @colorBlue;
    }
}

input[type="text"],
input[type="number"],
select {
    height: calc(100% - 2 px);
    border: 1px solid @colorTan;
    background: rgba(0, 0, 0, 0.05);
    color: @colorDark;
}

input[type="text"],
input[type="number"] {

    &:hover,
    &:focus {
        border: 1px solid @colorDark;
        box-shadow: 0 0 8px @colorBlue;
    }
}

  /* ----------------------------------------- */
  /* Trait Selector
/* ----------------------------------------- */

  #skill-selector {

    .skill-list-container {
      overflow-y: scroll;
      height: 200px;
    }

    .skill-list {
      list-style: none;
      margin: 0;
      padding: 0;
    }

    input[type="text"] {
      height: 24px;
      margin: 2px;
    }
  }



/* ----------------------------------------- */
/* Modify Die Code Dialog
/* ----------------------------------------- */

  .mod-group {
    
    display: flex;
    flex-direction: row;

    .mod-spacer{
      flex: 1;
    }

    .die-code {
      flex: 3;
      text-align: center;
      font-size: x-large;
    }

    .mod-button {

      flex: 1;
    }

    .mod-button:active {
        outline: none;
      }
  }
}

/* ----------------------------------------- */
/*  Entity Sheets Specifically               */
/* ----------------------------------------- */

.swd6.sheet {

  .window-content{
      overflow-y: hidden;
      padding: 5px;
      font-size: 13px;
      color: @colorDark;

      form{
          height: 100%;
          overflow: hidden;
      }
  }

  /* ----------------------------------------- */
  /*  Element Styles                           */
  /* ----------------------------------------- */

  span.sep{
      flex: none;
      margin: 0 1px;
      display: inline;
      position: relative;
      color: @colorTan;
      font-weight: normal;
  }

  // Input Fields
  input[type="text"],
  input[type="number"] {
      background: none;
      border: 1px solid transparent;

      &:hover,
      &:focus {
          border: 1px solid @colorDark;
      }
  }


  /* ----------------------------------------- */
  /*  Sheet Header                             */
  /* ----------------------------------------- */

  .sheet-header {

      flex: 0 0 100px;
      border-bottom: @grooveLight;

      img.profile-img {
          flex: 0 0 160px;
          max-width: 160px;
          height: 160px;
          object-fit: contain;
          border: none;
          border-right: @grooveLight;
      }

      .header-details{
          font-family: "Modesto Condensed", "Palatino Linotype", serif;
          font-size: 20px;
          font-weight: 700;
      }

      .summary {

          flex: 0 0 100%;
          height: 40px;
          margin: 0;
          padding: 0;
          list-style: none;
          border-top: @grooveLight;
          border-bottom: none;

          label{
              display: inline-block;
              width: auto;
              text-align: right;
          }

          li {
              height: calc(100% - 6px);
              float: left;
              margin: 2px 0;
              border-right: @grooveLight;
              line-height: 34px;
              color: @colorShadow;

              &:last-child {
                  border-right: none;
              }
          }

          input,
          span {
              display: block;
              height: 24px;
              line-height: 24px;
          }
      }

      .attributes{
          flex: 0 0 100%;
          margin: 0;
      }
  }

}