/* ----------------------------------------- */
/*  Fonts                                    */
/* ----------------------------------------- */
@font-face {
  font-family: 'Modesto Condensed';
  font-style: normal;
  font-weight: 400;
  src: url('../../fonts/modesto-condensed/modesto-condensed.woff2') format('woff2');
}
@font-face {
  font-family: 'Modesto Condensed';
  font-style: normal;
  font-weight: 700;
  src: url('../../fonts/modesto-condensed/modesto-condensed-bold.woff2') format('woff2');
}
.modesto {
  font-family: "Modesto Condensed", "Palatino Linotype", serif;
  font-size: 20px;
  font-weight: 700;
}
/* ----------------------------------------- */
/*  Sheet Styles                             */
/* ----------------------------------------- */
/* ----------------------------------------- */
/*  Flexbox                                  */
/* ----------------------------------------- */
.flexrow {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
}
.flexrow > * {
  flex: 1;
}
.flexrow .flex1 {
  flex: 1;
}
.flexrow .flex2 {
  flex: 2;
}
.flexrow .flex3 {
  flex: 3;
}
.flexrow .flex4 {
  flex: 4;
}
.flexcol {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
}
.flexcol > * {
  flex: 1;
}
.flexcol .flex1 {
  flex: 1;
}
.flexcol .flex2 {
  flex: 2;
}
.flexcol .flex3 {
  flex: 3;
}
.flexcol .flex4 {
  flex: 4;
}
/* ----------------------------------------- */
/*  All SWD6 Apps                           */
/* ----------------------------------------- */
.swd6 {
  /* ----------------------------------------- */
  /* Trait Selector
/* ----------------------------------------- */
  /* ----------------------------------------- */
  /* Modify Die Code Dialog
/* ----------------------------------------- */
}
.swd6 .window-content {
  font-size: 13px;
  color: #140B0E;
  background: #DDDCE3;
}
.swd6 a:hover {
  text-shadow: 0 0 8px #2C8CD0;
}
.swd6 input[type="text"],
.swd6 input[type="number"],
.swd6 select {
  height: calc(100% - 2 px);
  border: 1px solid #76676C;
  background: rgba(0, 0, 0, 0.05);
  color: #140B0E;
}
.swd6 input[type="text"]:hover,
.swd6 input[type="number"]:hover,
.swd6 input[type="text"]:focus,
.swd6 input[type="number"]:focus {
  border: 1px solid #140B0E;
  box-shadow: 0 0 8px #2C8CD0;
}
.swd6 #skill-selector .skill-list-container {
  overflow-y: scroll;
  height: 200px;
}
.swd6 #skill-selector .skill-list {
  list-style: none;
  margin: 0;
  padding: 0;
}
.swd6 #skill-selector input[type="text"] {
  height: 24px;
  margin: 2px;
}
.swd6 .mod-group {
  display: flex;
  flex-direction: row;
}
.swd6 .mod-group .mod-spacer {
  flex: 1;
}
.swd6 .mod-group .die-code {
  flex: 3;
  text-align: center;
  font-size: x-large;
}
.swd6 .mod-group .mod-button {
  flex: 1;
}
.swd6 .mod-group .mod-button:active {
  outline: none;
}
/* ----------------------------------------- */
/*  Entity Sheets Specifically               */
/* ----------------------------------------- */
.swd6.sheet {
  /* ----------------------------------------- */
  /*  Element Styles                           */
  /* ----------------------------------------- */
  /* ----------------------------------------- */
  /*  Sheet Header                             */
  /* ----------------------------------------- */
}
.swd6.sheet .window-content {
  overflow-y: hidden;
  padding: 5px;
  font-size: 13px;
  color: #140B0E;
}
.swd6.sheet .window-content form {
  height: 100%;
  overflow: hidden;
}
.swd6.sheet span.sep {
  flex: none;
  margin: 0 1px;
  display: inline;
  position: relative;
  color: #76676C;
  font-weight: normal;
}
.swd6.sheet input[type="text"],
.swd6.sheet input[type="number"] {
  background: none;
  border: 1px solid transparent;
}
.swd6.sheet input[type="text"]:hover,
.swd6.sheet input[type="number"]:hover,
.swd6.sheet input[type="text"]:focus,
.swd6.sheet input[type="number"]:focus {
  border: 1px solid #140B0E;
}
.swd6.sheet .sheet-header {
  flex: 0 0 100px;
  border-bottom: 2px groove #eeede0;
}
.swd6.sheet .sheet-header img.profile-img {
  flex: 0 0 160px;
  max-width: 160px;
  height: 160px;
  object-fit: contain;
  border: none;
  border-right: 2px groove #eeede0;
}
.swd6.sheet .sheet-header .header-details {
  font-family: "Modesto Condensed", "Palatino Linotype", serif;
  font-size: 20px;
  font-weight: 700;
}
.swd6.sheet .sheet-header .summary {
  flex: 0 0 100%;
  height: 40px;
  margin: 0;
  padding: 0;
  list-style: none;
  border-top: 2px groove #eeede0;
  border-bottom: none;
}
.swd6.sheet .sheet-header .summary label {
  display: inline-block;
  width: auto;
  text-align: right;
}
.swd6.sheet .sheet-header .summary li {
  height: calc(100% - 6px);
  float: left;
  margin: 2px 0;
  border-right: 2px groove #eeede0;
  line-height: 34px;
  color: #413539;
}
.swd6.sheet .sheet-header .summary li:last-child {
  border-right: none;
}
.swd6.sheet .sheet-header .summary input,
.swd6.sheet .sheet-header .summary span {
  display: block;
  height: 24px;
  line-height: 24px;
}
.swd6.sheet .sheet-header .attributes {
  flex: 0 0 100%;
  margin: 0;
}
.swd6.sheet.actor h4.box-title {
  height: 18px;
  line-height: 16px;
  margin: 4px 8px 2px;
  font-family: "Modesto Condensed", "Palatino Linotype", serif;
  font-size: 20px;
  font-weight: 700;
  font-size: 18px;
  color: #413539;
  border-bottom: 1px solid #A9A1A6;
  white-space: nowrap;
}
.swd6.sheet.actor ul.attributes {
  list-style: none;
  margin: 0;
  padding: 0;
}
.swd6.sheet.actor ul.attributes li.attribute {
  height: 60px;
  margin: 0 5px 0 0;
  border: 2px groove #eeede0;
  border-radius: 4px;
  text-align: center;
}
.swd6.sheet.actor ul.attributes li.attribute .attribute-value {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 28px;
  line-height: 28px;
  font-family: "Modesto Condensed", "Palatino Linotype", serif;
  font-size: 20px;
  font-weight: 700;
}
.swd6.sheet.actor ul.attributes li.attribute .attribute-value > * {
  font-weight: 400;
  font-size: 24px;
}
.swd6.sheet.actor ul.attributes li.attribute .attribute-value.multiple input {
  flex: 0 0 33%;
}
.swd6.sheet.actor ul.attributes li.attribute .attribute-footer {
  flex: 0 0 18px;
  margin-top: -1px;
  line-height: 18px;
  font-family: "Signika", sans-serif;
  font-size: 12px;
  font-weight: 400;
  white-space: nowrap;
}
.swd6.sheet.actor .sheet-header span {
  width: 100%;
  text-align: center;
}
.swd6.sheet.actor .sheet-header .header-status {
  flex: 0 0 180px;
  margin-right: 3px;
  height: 60px;
  justify-content: flex-end;
  text-align: center;
}
.swd6.sheet.actor .sheet-header .header-status .stunned-not {
  background-color: #ffff0020;
}
.swd6.sheet.actor .sheet-header .header-status .wounded-not {
  background-color: #FFA50020;
}
.swd6.sheet.actor .sheet-header .header-status .wounded-twice-not {
  background-color: #FF450020;
}
.swd6.sheet.actor .sheet-header .header-status .incapacitated-not {
  background-color: #dC143c20;
}
.swd6.sheet.actor .sheet-header .header-status .mortally-wounded-not {
  background-color: #8b000020;
}
.swd6.sheet.actor .sheet-header .header-status .dead-not {
  background-color: #2f4f4f20;
}
.swd6.sheet.actor .sheet-header .header-status .stunned {
  background-color: #ffff00;
}
.swd6.sheet.actor .sheet-header .header-status .wounded {
  background-color: #FFA500;
}
.swd6.sheet.actor .sheet-header .header-status .wounded-twice {
  background-color: #FF4500;
}
.swd6.sheet.actor .sheet-header .header-status .incapacitated {
  background-color: #dC143c;
}
.swd6.sheet.actor .sheet-header .header-status .mortally-wounded {
  background-color: #8b0000;
}
.swd6.sheet.actor .sheet-header .header-status .dead {
  background-color: #2f4f4f;
}
.swd6.sheet.actor .sheet-header .header-status ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.swd6.sheet.actor .sheet-header .header-status ul li {
  flex: 1;
  height: 28px;
  line-height: 28px;
  font-size: large;
  border: 1px groove #140B0E;
  text-align: center;
}
.swd6.sheet.actor .sheet-header .summary {
  height: 30px;
  border-bottom: 2px groove #eeede0;
  font-size: 18px;
}
.swd6.sheet.actor .sheet-header .summary input[type="checkbox"] {
  height: 14px;
  display: inline;
}
.swd6.sheet.actor .sheet-header .summary input[type="text"],
.swd6.sheet.actor .sheet-header .summary span {
  display: block;
  height: 24px;
  line-height: 24px;
}
.swd6.sheet.actor .sheet-header .summary .force-sense {
  line-height: 24px;
  display: inline;
  padding: 3px;
}
.swd6.sheet.actor .sheet-header .attributes .attribute {
  height: 70px;
  margin: 0;
  border: none;
  border-right: 2px groove #eeede0;
  border-radius: 0;
}
.swd6.sheet.actor .sheet-header .attributes .attribute .attribute-value {
  height: 30px;
  line-height: 30px;
}
.swd6.sheet.actor .sheet-header .attributes .attribute .attribute-value.multiple input {
  flex: 0 0 33%;
}
.swd6.sheet.actor.character {
  min-width: 720px;
  min-height: 680px;
  /* ----------------------------------------- */
  /*  Sheet Header                             */
  /* ----------------------------------------- */
  /* ----------------------------------------- */
  /*  Tabs                                     */
  /* ----------------------------------------- */
  /* ----------------------------------------- */
  /*  Sheet Body                               */
  /* ----------------------------------------- */
}
.swd6.sheet.actor.character .new-skill-modal {
  display: none;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 100;
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
}
.swd6.sheet.actor.character .new-skill-modal .modal-content {
  background-color: #fefefe;
  margin: 15% auto;
  /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}
.swd6.sheet.actor.character .sheet-header img.profile {
  flex: 0 0 160px;
  max-width: 160px;
  height: 160px;
}
.swd6.sheet.actor.character .tabs {
  height: 40px;
  border-top: 1px solid #AAA;
  border-bottom: 1px solid #AAA;
}
.swd6.sheet.actor.character .tabs .item {
  line-height: 40px;
  font-weight: bold;
}
.swd6.sheet.actor.character .tabs .item .active {
  text-decoration: underline;
  text-shadow: none;
}
.swd6.sheet.actor.character .sheet-body {
  overflow: hidden;
}
.swd6.sheet.actor.character .sheet-body .tab {
  height: 100%;
  overflow-y: auto;
}
.swd6.sheet.actor.character .attributes {
  height: 100%;
  overflow-y: auto;
}
.swd6.sheet.actor.character a.attribute-control {
  flex: 0 0 20px;
  text-align: center;
  line-height: 28px;
  border: none;
}
.swd6.sheet.actor.character .value {
  width: 12px;
  text-align: center;
}
.swd6.sheet.actor.character .mod-plus {
  font-weight: bold;
  padding-left: 0px;
  padding-right: 2px;
}
.swd6.sheet.actor.character .mod {
  width: 12px;
  text-align: center;
}
.swd6.sheet.actor.character .row {
  display: flex;
  height: 100%;
}
.swd6.sheet.actor.character .column {
  flex: 50%;
  height: 100%;
  padding: 10px;
  display: flex;
  flex-flow: column;
}
.swd6.sheet.actor.character .cell {
  padding-top: 5px;
  padding-bottom: 5px;
  display: flex;
  flex-flow: column;
  flex-grow: 1;
  max-height: 33%;
}
.swd6.sheet.actor.character .cell .skill-roll {
  font-size: 17px;
  margin: 4px;
}
.swd6.sheet.actor.character .cell .skill-add {
  font-size: 17px;
  margin: 4px;
}
.swd6.sheet.actor.character .attrib-main {
  display: flex;
  flex-flow: row;
  height: 30px;
}
.swd6.sheet.actor.character .attrib-main .attrib-name {
  flex-grow: 1;
  font-size: large;
}
.swd6.sheet.actor.character .attrib-main .attrib-values {
  width: 100px;
}
.swd6.sheet.actor.character .attrib-skill {
  flex-grow: 1;
  overflow-y: scroll;
  margin-top: 5px;
  border: darkgrey 1px solid;
}
.swd6.sheet.actor.character .attrib-skill .skill-row {
  display: flex;
  flex-flow: row;
  height: 30px;
  margin-left: 20px;
}
.swd6.sheet.actor.character .attrib-skill .skill-name {
  flex-grow: 1;
  margin-right: 10px;
}
.swd6.sheet.actor.character .attrib-skill .skill-values {
  width: 95px;
}
.swd6.sheet.actor.character .item-list {
  list-style: none;
  margin: 7px 0;
  padding: 0;
  overflow-y: auto;
}
.swd6.sheet.actor.character .item-list .item {
  height: 30px;
  line-height: 24px;
  padding: 3px 0;
  border-bottom: 1px solid #BBB;
}
.swd6.sheet.actor.character .item-list .item img {
  flex: 0 0 24px;
  margin-right: 5px;
}
.swd6.sheet.actor.character .item-list .item-name {
  margin: 0;
}
.swd6.sheet.actor.character .item-list .item-controls {
  flex: 0 0 36px;
}
.swd6.sheet.actor.character .editor {
  height: 100%;
}
.swd6.sheet.actor.character .editor-content {
  height: 100%;
}
/* ----------------------------------------- */
/*  Chat Cards
/* ----------------------------------------- */
.swd6.chat-card {
  font-weight: bold;
  width: 100%;
  text-align: center;
}
.swd6.chat-card .result-total {
  font-size: x-large;
}
.swd6.chat-card .result-total.critical {
  color: green;
}
.swd6.chat-card .result-total.fumble {
  color: red;
}
