.swd6.sheet.actor.character {
  min-width: 720px;
  min-height: 680px;
  /* ----------------------------------------- */
  /*  Sheet Header                             */
  /* ----------------------------------------- */
  /* ----------------------------------------- */
  /*  Tabs                                     */
  /* ----------------------------------------- */
  /* ----------------------------------------- */
  /*  Sheet Body                               */
  /* ----------------------------------------- */
}
.swd6.sheet.actor.character .new-skill-modal {
  display: none;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 100;
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
}
.swd6.sheet.actor.character .new-skill-modal .modal-content {
  background-color: #fefefe;
  margin: 15% auto;
  /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}
.swd6.sheet.actor.character .sheet-header {
  height: 100px;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
}
.swd6.sheet.actor.character .sheet-header .profile-img {
  flex: 0 0 90px;
  height: 100px;
  margin-right: 10px;
}
.swd6.sheet.actor.character .sheet-header .header-fields {
  flex: 1;
  height: 100px;
}
.swd6.sheet.actor.character .sheet-header h1.charname {
  height: 50px;
  padding: 0px;
  margin: 5px 0;
  border-bottom: 0;
}
.swd6.sheet.actor.character .sheet-header h1.charname input {
  width: 100%;
  height: 100%;
  margin: 0;
}
.swd6.sheet.actor.character .tabs {
  height: 40px;
  border-top: 1px solid #AAA;
  border-bottom: 1px solid #AAA;
}
.swd6.sheet.actor.character .tabs .item {
  line-height: 40px;
  font-weight: bold;
}
.swd6.sheet.actor.character .tabs .item .active {
  text-decoration: underline;
  text-shadow: none;
}
.swd6.sheet.actor.character .sheet-body {
  overflow: hidden;
}
.swd6.sheet.actor.character .sheet-body .tab {
  height: 100%;
  overflow-y: auto;
}
.swd6.sheet.actor.character .attributes {
  height: 100%;
  overflow-y: auto;
}
.swd6.sheet.actor.character a.attribute-control {
  flex: 0 0 20px;
  text-align: center;
  line-height: 28px;
  border: none;
}
.swd6.sheet.actor.character .value {
  width: 12px;
  text-align: center;
}
.swd6.sheet.actor.character .mod-plus {
  font-weight: bold;
  padding-left: 0px;
  padding-right: 2px;
}
.swd6.sheet.actor.character .mod {
  width: 12px;
  text-align: center;
}
.swd6.sheet.actor.character .row {
  display: flex;
  height: 100%;
}
.swd6.sheet.actor.character .column {
  flex: 50%;
  height: 100%;
  padding: 10px;
  display: flex;
  flex-flow: column;
}
.swd6.sheet.actor.character .cell {
  padding-top: 5px;
  padding-bottom: 5px;
  display: flex;
  flex-flow: column;
  flex-grow: 1;
  max-height: 33%;
}
.swd6.sheet.actor.character .cell .skill-roll {
  font-size: 17px;
  margin: 4px;
}
.swd6.sheet.actor.character .cell .skill-add {
  font-size: 17px;
  margin: 4px;
}
.swd6.sheet.actor.character .attrib-main {
  display: flex;
  flex-flow: row;
  height: 30px;
}
.swd6.sheet.actor.character .attrib-main .attrib-name {
  flex-grow: 1;
  font-size: large;
}
.swd6.sheet.actor.character .attrib-main .attrib-values {
  width: 100px;
}
.swd6.sheet.actor.character .attrib-skill {
  flex-grow: 1;
  overflow-y: scroll;
  margin-top: 5px;
  border: darkgrey 1px solid;
}
.swd6.sheet.actor.character .attrib-skill .skill-row {
  display: flex;
  flex-flow: row;
  height: 30px;
  margin-left: 20px;
}
.swd6.sheet.actor.character .attrib-skill .skill-name {
  flex-grow: 1;
  margin-right: 10px;
}
.swd6.sheet.actor.character .attrib-skill .skill-values {
  width: 95px;
}
.swd6.sheet.actor.character .item-list {
  list-style: none;
  margin: 7px 0;
  padding: 0;
  overflow-y: auto;
}
.swd6.sheet.actor.character .item-list .item {
  height: 30px;
  line-height: 24px;
  padding: 3px 0;
  border-bottom: 1px solid #BBB;
}
.swd6.sheet.actor.character .item-list .item img {
  flex: 0 0 24px;
  margin-right: 5px;
}
.swd6.sheet.actor.character .item-list .item-name {
  margin: 0;
}
.swd6.sheet.actor.character .item-list .item-controls {
  flex: 0 0 36px;
}
.swd6.sheet.actor.character .editor {
  height: 100%;
}
.swd6.sheet.actor.character .editor-content {
  height: 100%;
}
/* ----------------------------------------- */
/*  Chat Cards
/* ----------------------------------------- */
.swd6.chat-card {
  font-weight: bold;
  width: 100%;
  text-align: center;
}
.swd6.chat-card .result-total {
  font-size: x-large;
}
.swd6.chat-card .result-total.critical {
  color: green;
}
.swd6.chat-card .result-total.fumble {
  color: red;
}
