<form>
    <div class="form-group">
        <label>Dice Roll</label>
        <input type="text" name="value" value="{{value}}" disabled/>
    </div>
    <div class="form-group">
        <label>Bonus Dice</label>
        <input class="bonus-die-field" type="text" name="bonusdie" value="{{bonusDie}}" placeholder="0" />
    </div>
    <div class="form-group">
        <label>Bonus Modifier</label>
        <input class="bonus-mod-field" type="text" name="bonusmod" value="{{bonusMod}}" placeholder="0" />
    </div>
</form>