<form onsubmit="event.preventDefault();">
    <div class="form-group">
      <p>{{attribute.label}}</p>
    </div>
    <div class="form-group">
      <label>Name</label>
      <input type='text' name='inputField'></input>
    </div>
    <div class="attrib-skill">
      {{#each skills as |skill key|}}
      <div class="skill-row"></div>
        <span class="skill-name" id="{{key}}">{{skill.name}}</span>
      </div>
      {{/each}}
    </div>
    <div>
      <p>Available points: {{charpoints.available}}</p>
    </div>
    <div class="dialog-buttons">
        {{#each buttons as |button id|}}
        <button class="dialog-button" data-button="{{id}}">
            {{{button.icon}}}
            {{{button.label}}}
        </button>
        {{/each}}
    </div>
  </form>